# kicad files
hardware/board/kicad/manufacturing/*
hardware/board/kicad/uBike-backups/*

# zephyr files
firmware/zephyr-project/.*
firmware/zephyr-project/build*
firmware/zephyr-project/*code-workspace

# vscode files
firmware/.vscode
