/*
 * Universal Bike Controller
 * Copyright (C) 2022-2023, Greco Engineering Solutions LLC
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include <zephyr/dt-bindings/display/ili9xxx.h>
#include "ubike_v03-pinctrl.dtsi"

/ {
	model = "uBike v0-3";
	compatible = "ubike,ubike-v03";

	 chosen {
		 zephyr,console = &uart0;
		 zephyr,shell-uart = &uart0;
		 zephyr,uart-mcumgr = &uart0;
		 zephyr,bt-mon-uart = &uart0;
		 zephyr,bt-c2h-uart = &uart0;
		 zephyr,sram = &sram0;
		 zephyr,flash = &flash0;
		 zephyr,display = &ili9488;
		 zephyr,keyboard-scan = &touch_controller;
	 };

	 leds {
		 compatible = "gpio-leds";
		 led0: led_0 {
			 gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>; // UNUSED
			 label = "Green LED 0";
		 };
		 lcdrst: lcd_rst { // RESET
			 gpios = <&gpio1 15 GPIO_ACTIVE_LOW>;
			 label = "LCD Reset";
		 };
		 cptrst: cpt_rst { // YU
			 gpios = <&gpio0 7 GPIO_ACTIVE_LOW>;
			 label = "Touch Reset";
		 };
	 };

	 buttons {
		compatible = "gpio-keys";
		addInc: add_inc { // IN 4
			gpios = <&gpio1 3 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Incline up";
		};
		subInc: sub_inc { // IN 1
			gpios = <&gpio1 5 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Incline down";
		};
		addRes: add_res { // IN 3
			gpios = <&gpio1 1 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Increase resistance";
		};
		subRes: sub_res { // IN 2
			gpios = <&gpio1 7 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Reduce resistance";
		};
	};

	rs485 {
		compatible = "gpio-leds";
		rs485de: rs485_de {
			gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
			label = "Driver enable";
		};
	};

	pwmleds {
		compatible = "pwm-leds";
		pwm_led0: pwm_led_0 {
			pwms = <&pwm0 0 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
		};
	};

	aliases {
		rs485de = &rs485de;
		lcdrst = &lcdrst;
		cptrst = &cptrst;
		blpwm = &pwm_led0;
		addinc = &addInc;
		subinc = &subInc;
		addres = &addRes;
		subres = &subRes;
		led0 = &led0;
		bootloader-led0 = &led0;
		mcuboot-led0 = &led0;
		watchdog0 = &wdt0;
	};
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&uart0 {
	status = "disabled";
};

&uart1 {
	compatible = "nordic,nrf-uarte";
	current-speed = <38400>;
	status = "okay";
	pinctrl-0 = <&uart1_default>;
	pinctrl-1 = <&uart1_sleep>;
	pinctrl-names = "default", "sleep";
};

&i2c1 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
	pinctrl-0 = <&i2c1_default>;
	pinctrl-1 = <&i2c1_sleep>;
	pinctrl-names = "default", "sleep";

	touch_controller: ft5336@38 {
		compatible = "focaltech,ft5336";
		reg = <0x38>;
		int-gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>; // YD
	};
};

&spi0 {
	status = "okay";
	compatible = "nordic,nrf-spim";
	cs-gpios = <&gpio0 31 GPIO_ACTIVE_LOW>; // CS
	pinctrl-0 = <&spi0_default>;
	pinctrl-1 = <&spi0_sleep>;
	pinctrl-names = "default", "sleep";
 
	ili9488: ili9488@0 {
		compatible = "ilitek,ili9488";
		spi-max-frequency = <25000000>;
		reg = <0>;
		cmd-data-gpios =  <&gpio0 29 GPIO_ACTIVE_LOW>; // RS
		reset-gpios = <&gpio1 15 GPIO_ACTIVE_LOW>; // RESET
		pixel-format = <ILI9XXX_PIXEL_FORMAT_RGB888>;
		width = <320>;
		height = <480>;
		rotation = <180>;
		frmctr1 = [a0 11];
		pwctrl1 = [17 15];
		pwctrl2 = [41];
		pgamctrl = [00 03 09 08 16 0a 3f 78 4c 09 0a 08 16 1a 0f];
		ngamctrl = [00 16 19 03 0f 05 32 45 46 04 0e 0d 35 37 0f];
	};
};

&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0_default>;
	pinctrl-1 = <&pwm0_sleep>;
	pinctrl-names = "default", "sleep";
};